<!-- chatapp/templates/chatapp/index.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'page.css' %}">
    <link rel="stylesheet" href="{% static 'popup.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'checkbox.css' %}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="{% static 'js/page.js' %}" defer></script>
    <script src="{% static 'js/create_room.js' %}" defer></script>
    <script src="{% static 'js/WebSocket.js' %}" defer></script>
    <title>Select Users</title>
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <div class="left">
                <div class="top">
                    <input type="text" placeholder="Search" />
                    <a href="javascript:;" class="search" id="searchButton"></a>
                    <form method="post" action="{% url 'index' %}">
                        <div id="popupMenu" class="popup-menu" style="display: none;">
                            {% csrf_token %}
                            <ul>
                                {% for user in users %}
                                <li>
                                    <input type="checkbox" name="selected_users" value="{{ user.id }}"> {{ user.username
                                    }}
                                </li>
                                {% endfor %}
                            </ul>
                            <button type="submit">Create</button>
                        </div>
                    </form>
                </div>
                <ul class="people">
                    {% for room in rooms %}
                    <li class="person" data-chat="person{{ forloop.counter }}">
                        <span class="name">
                            {% for user in room.users.all %}
                            {{ user }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </span>
                        <span class="time">2:09 PM</span>
                        <span class="preview">Welcome new user...</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="right">
                {% for room in rooms %}
                <!-- <div class="top"><span>To: <span class="name"> {% for user in room.users.all %} {{ user }}{% if not forloop.last %}, {% endif %} {% endfor %}</span></span></div> -->
                <div class="chat" data-chat="person{{ forloop.counter }}" id="activeChat">
                    <div class="conversation-start">
                        <span>Today, 6:48 AM</span>
                    </div>
                    <div class="chat__item__container" id="id_chat_item_container">
                        <!-- Messages will be displayed here with a scrollbar -->
                    </div>
                </div>
                {% endfor %}
                <div class="write">
                    <a href="javascript:;" class="write-link attach"></a>
                    <input type="text" id="id_message_send_input" placeholder="Type your message..." />
                    <a href="javascript:;" class="write-link send" id="id_message_send_button"></a>
                </div>
            </div>
        </div>
    </div>



    {{ roomName | json_script:"roomname" }}


</body>

</html>